<div id="navbar">
  <ul>
    <li><a href="#navbar">Top</a></li>
    <li><a href="#middle-image">About</a></li>
    <li><a href="#bottom-image">Classes</a></li>
  </ul>
</div>

<div id="header">
  <h1>Heart Prayers Yoga</h1>
</div>

<carousel></carousel>

<div id="middle-image">
    <h2>"“I slept and dreamt that life was joy.
      I awoke and saw that life was service.
      I acted and behold, service was joy.”
      – Tagore"
    </h2>
    <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Etiam laoreet rutrum nibh id pulvinar. Nam quis ultrices tortor.
       Phasellus vitae justo lectus. Aliquam dignissim, eros at posuere scelerisque, lacus mi dictum odio, eget mollis velit tortor vitae mi.
       Phasellus erat orci, pretium non viverra ut, pretium at libero. Suspendisse lobortis efficitur venenatis.
       Duis eu risus lectus.
       In blandit metus mauris, vitae euismod lorem egestas sed.
    </b></p>
</div>

<div id="bottom-image">
    <p>Jane offers two different classes, <b>Restorative Yoga</b> and <b>Gentle Yoga</b>:</p>
    <p><b>Gentle Yoga: </b> Class begins in a restorative pose allowing the body to deeply relax.
      Pranayama is used to establish the breath and clam the mind.
      Warming up, we begin a moving meditation of gentle asanas to move prana, or life force throughout the body, and awaken the abdominal core.
      Yogic philosophy is woven thoughout the class.
      We end in Shavassana with a final meditation.
      All levels and beginners are welcome.
      <br><br>
      <b>Restorative Yoga: </b> This is a theraputic class desgined to bring deep relaxation and healing to mind, body, and spirit.
      Inner balance and peace are restored by using yogic techniques of breath work, visualization, and meditation.
      This is not a movement class and may be completed in a chair if desired.
      All levels and beginners are welcome.
    </p>
    <ul>
      <li><b>Classes are tought at the Osher Marin JCC</b></li>
      <li>Monday 11:10am - 12:10pm Gentle Yoga</li>
      <li>Thursday 5:00pm - 6:00pm Restorative Yoga</li>
      <li>Sunday 4:00pm - 5:00pm Restorative Yoga</li>
    </ul>
</div>
